<h1>{{title}}</h1>
<form *ngIf="!loading" [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="row">
        <div class="mb-3 col">
            <label class="form-label">First Name</label>
            <input type="text" formControlName="firstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
            <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                <div *ngIf="f.firstName.errors.required">First Name is required</div>
            </div>
        </div>
        <div class="mb-3 col">
            <label class="form-label">Last Name</label>
            <input type="text" formControlName="lastName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
            <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                <div *ngIf="f.lastName.errors.required">Last Name is required</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="mb-3 col">
            <label class="form-label">Gender</label>
            <input type="text" formControlName="employeeGender" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.employeeGender.errors }" />
            <div *ngIf="submitted && f.employeeGender.errors" class="invalid-feedback">
                <div *ngIf="f.employeeGender.errors.required">Gender is required</div>
            </div>
        </div>

        <div class="mb-3 col">
            <label class="form-label">Salary</label>
            <input type="text" formControlName="employeeSalary" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.employeeSalary.errors }" />
            <div *ngIf="submitted && f.employeeSalary.errors" class="invalid-feedback">
                <div *ngIf="f.employeeSalary.errors.required">Salary is required</div>
            </div>
        </div>
      
    </div>
    <div class="row">
        <div class="mb-3 col">
            <label class="form-label">Phone</label>
            <input type="text" formControlName="employeePhone" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.employeePhone.errors }" />
            <div *ngIf="submitted && f.employeePhone.errors" class="invalid-feedback">
                <div *ngIf="f.employeePhone.errors.required">Employee Phone Number is required</div>
            </div>
        </div>
        <div class="mb-3 col">
            <label class="form-label">Department</label>
            <select class="custom-select" (change)="changeDepartment($event)" formControlName="department">
              <option value="">Choose Department</option>
              <option *ngFor="let dept of departments">{{dept.department_ID}}|{{dept.department_Name}}</option>
            </select>
            </div>

    </div>
    <div class="mb-3">
        <button [disabled]="submitting" class="btn btn-primary">
            <span *ngIf="submitting" class="spinner-border spinner-border-sm me-1"></span>
            Save
        </button>
        <a routerLink="/users" class="btn btn-link">Cancel</a>
    </div>
</form>
<div *ngIf="loading" class="text-center m-5">
    <span class="spinner-border spinner-border-lg align-center"></span>
</div>